{% if context %}
=== UNIVERSE CONTEXT ===
{{ context }}
=== END CONTEXT ===
{% endif %}
 
Universe: {{ universe }}
Time period: {{ time_period }}
 
Trait: {{ flag_name }}
Definition: {{ flag_definition }}
Sorting axis: {{ flag_sort_axis }}
 
Characters:
{% for c in characters %}- {{ c }}
{% endfor %}
 